course: "CS16"
qtr: "M18"
quarter: "Summer 2018"
piazza_url: https://piazza.com/ucsb/summer2018/cmpsc16/home
gauchospace_course_page: https://gauchospace.ucsb.edu/courses/course/view.php?id=26795
gradescope_class_url: https://gradescope.com/courses/19473

ta_list: "Kevin, Kun"
ta_list_full: "Kevin Burk, Kun Wan"
#mentors_list: "Natasha Lee, Sean Shelton, and Joel Bagan"
discussion_section_times: "10:30am, 12pm, or 1:30pm"

github_url: https://github.com/ucsb-cs16-m18/ucsb-cs16-m18.github.io
#mentor_url: https://ucsb-cs56-pconrad-mentors.github.io
mentor_url:

on_campus: http://proquest.safaribooksonline.com
off_campus: http://proquest.safaribooksonline.com.proxy.library.ucsb.edu:2048

submit_cs_course:

start_week: 1
start_date: 2018-06-24 00:00:00.00-7:00
num_weeks: 10
extra_exam_week: false
sections: "10:30am, 12pm, 1:30pm"

cal_dates: >
  [
  {"label":"First day of Summer Quarter", "date":"2018-06-25" },
  {"label":"Univ Holiday", "date":"2018-07-04" },
  {"label":"Last day of instruction", "date":"2018-08-31" }
  ]


kramdown:
   parse_block_html: true
   default_lang: python

exclude:
   - vendor
   - _hwk/keep
   - _lab/keep
   - _exam/keep
   - _lectures/keep
   - _info/keep        

timezone: America/Los_Angeles

collections:
  hwk:
    output: true
    permalink: /hwk/:path/
    last_before: false
  lab:
    output: true
    permalink: /lab/:path/
    last_before: false
  labWIP:
    output: true
    permalink: /labWIP/:path/
    last_before: false
  exam:
    output: true
    permalink: /exam/:path/
  info:
    output: true
    permalink: /info/:path/
  lectures:
    output: true
    permalink: /lectures/:path/


defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: default
  - 
    scope:
      path: ""
      type: lectures
    values:
      layout: lecture
  - 
    scope:
      path: ""
      type: hwk
    values:
      layout: hwk
  - 
    scope:
      path: ""
      type: lab
    values:
      layout: lab
  - 
    scope:
      path: ""
      type: labWIP
    values:
      layout: lab
  - 
    scope:
      path: ""
      type: exam
    values:
      layout: exam_info
  - 
    scope:
      path: ""
      type: info
    values:
      layout: info
  -
    scope:
      path: "syllabus.md"
      type: info
    values:
      layout: handout
